<div>
  <%= form_for(@idea)  do |f|%>

  <%= f.label :title %><br/>
  <%= f.text_field :title %>

  <%= f.label :description %><br/>
  <%= f.text_area :description %>

  <%= f.collection_select(:category_id, Category.all, :id, :name) %>
  <%= f.hidden_field :user_id %>

  <%= f.submit "Update" %>
  <% end %>
</div>
