<h1 id="admin"> Hi Admin </h1>


<%= render partial: 'shared/category_form', locals: {category: Category.new }  %>

<ul id="category_list">
  <% Category.all.each do |category| %>
  <li> Category: <%= category.name %> </li>
  <li>
    <%= link_to("Edit", edit_category_path(category)) %>
    <%= link_to("Delete", category_path(category), :method => 'delete') %>
  </li>
  <% end %>
</ul>

<%= render partial: 'shared/image_form', locals: {image: Image.new} %>

<ul id="image_list">
  <% Image.all.each do |image| %>
  <li> Image: <%= image.title %> </li>
  <li>        <%= image_tag image.img.url(:medium) %></li>
  <li>
    <%= link_to("Delete", image_path(image), :method => 'delete') %>
  </li>
  <% end %>
</ul>
