<h1 id="banner"> Welcome <%= @user.username %> </h1>

<div>
  <% if current_user.admin? %>
  <%= link_to "Admin", admin_path %>
  <% end %>
</div>

<ul id="ideas">
  <% @user.ideas.each do |idea| %>
  <% unless idea.new_record? %>
  <li>title: <%= idea.title %> </li>
  <li>description <%= idea.description %></li>
  <li> category <%= idea.category.name %></li>
  <li> <%= link_to("Edit", edit_idea_path(idea)) %>
    <%= link_to("Delete", idea_path(idea), :method => 'delete') %>
  </li>
  <% end %>
  <% end %>
</ul>

<%= render partial: 'shared/idea_form', locals: {idea: @user.ideas.new,
  user_id: @user.id}  %>
